extends layout

block content
    .container
        header 
            h1 Video Labeling
            .logout 
                a(href="/") Instructions
                a(href="/stats") Statistics
                a(href="/auth/signout") Logout #{username} 
        .body           
            p 
                b Video ID: #{videoID}

            p #{error}    

            form(action="/video/#{videoID}", method="post")                
                input(type="hidden", value="0", name="label_value", id="label")                             
                button(type="submit", onclick="javascript:document.getElementById('label').value='1';return true;") Valid
                button(type="submit", onclick="javascript:document.getElementById('label').value='2';return true;") Not-Valid                
                button(type="submit", onclick="javascript:document.getElementById('label').value='3';return true;") Valid-Cuts
            p
                | <video class="center" src="#{videoURL}" controls />
