extends layout

block content
    h1= title
    p Video ID: #{videoID}
    p User: #{username}
    p #{error}
    video(src="#{videoURL}", controls)
    form(action="/video/#{videoID}", method="post")    
        div.input  
            input(type="hidden", value="0", name="label_value", id="label")  
        div.actions            
            input(type="submit", value="Discard", onclick="javascript:document.getElementById('label').value='1';return true;")
            input(type="submit", value="Correct", onclick="javascript:document.getElementById('label').value='2';return true;")
            input(type="submit", value="Have Micro Cuts", onclick="javascript:document.getElementById('label').value='3';return true;")
            input(type="submit", value="Skip this video", onclick="javascript:document.getElementById('label').value='-1';return true;")
